body {
    font-family: sans-serif;
    font-size: 14px;
}

h1,
.subheading {
    font-family: serif
}

h1 {
    font-size: 38px;
}

.subheading {
    font-size: 28px;
}

.link {
    color: rgb(46, 46, 46);
    font-weight: 500;
    font-family: "Times New Roman", serif;
}

.homepage {
    padding: 15px;
    font-size: 20px;
    margin-bottom: 5px;
}

#pumpkinpie {
    background-color: orange;
}

#steak {
    background-color: rgb(161, 104, 87);
}

#mashed {
    background-color: rgb(202, 202, 202);
}